body{
    overflow-x: none;
}
/* s- header part */
.flex-reverse{
    flex-direction: row-reverse;
    
}

.nav-item>a{
    color: white;
    transition: .5s;
    text-decoration: none;
}

.nav-item>a:hover{
    transform: scale(1.5);
}
@media screen and (max-width:578px) {
    .nav-item>a:hover{
        transform: scale(1);
    } 
}
.navbar-nav{
    --bs-nav-link-hover-color: white;
}
.navbar-nav>li{
    margin-left: 40px;
}

.bg-body-tertiary{
    background-color: transparent !important;
}
.s-header{
    background-image: url(./img/header.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.s-content{
    padding-top: 95px;
    padding-bottom: 95px;
}
.s-content>h1{
    font-size: 60px;
}

/* works part css start */
.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
@media screen and (max-width:576px){
    .grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}
@media screen and (max-width:768px){
    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
.works{
    margin: 100px 0px;
}

/* galary part  */
.g-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-row-gap: 3px;
    grid-column-gap: 3px;
}
@media screen and (max-width:576px) {
    .g-grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-row-gap: 3px;
        grid-column-gap: 3px;
    } 
}
.g-grid>.g-box>img{
    width: 100%;
    height: 100%;
}
.g-grid>.g-box{
    position: relative;
    overflow: hidden;
}


.g-grid>.g-box>.g-content{
    position: absolute;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #d94343b0;
    transform: translateY(100%);
  
    /* transform: scale(0); */
    transition: .5s;

}


.g-grid>.g-box:hover .g-content{
    transform: translateY(0%);
    /* transform: scale(1); */
    transition: .5s;
} 

/* card part css  */
.card-part{
    margin: 100px 0px;
}
@media screen and (max-width:576px) {
    .card-content>h4,
    .card-content>p:nth-of-type(1)
    {
        text-align: center;
    }
    .card-content>p:nth-of-type(2){
        text-align: justify;
    }
    .row>*{
        margin-bottom: 20px;
    }
}
.card-box>img{
    width: 100%;
}
.card-content>h4{
    margin-top: 20px;
}
.card-content>p:nth-of-type(1){
    color: red;
}
.card-content>p:nth-of-type(2){
    color: #6c7279;
}
.card-icon-main{
    display: flex;
    gap: 10px;
}
.facebook{
    height: 33px;
    width: 35px;
    background-color: white;
    border: 2px solid #e8ecee;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* about css start */
.about-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.carousel-content{
    padding: 0px 100px;
}
@media screen and (max-width:576px) {
    .about-grid{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .carousel-content{
        padding: 0px 50px;
    }
}
.red{
    background-color: #d44141;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.merun{
    background-color: #53354a;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.navy-blue{
    background-color: #323550;
    height: 355px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.carousel-content>p:nth-of-type(1){
    font-size: 20px;
}

/* location */
.location-section{
    background-color: #3a3e64;
}
.location-box>h4{
    color: white;
    margin-bottom: 20px;
}
.location-box>p{
    color: #afb0bc;
}
.l-justify{
    justify-content: center;
}
.location-icon{
    background-color: transparent;
}
